<main>
  <div class="text">

    <div>
      <h1>Chill Cloud</h1>
      <p>
        Chill Cloud to innowacyjna aplikacja służąca do przechowywania plików w sieci zdecentralizowanej,
        oparta na zaawansowanej technologii platformy Storj. Platforma oferuje niezrównaną
        prywatność i bezpieczeństwo danych dzięki automatycznemu szyfrowaniu treści,
        co dodatkowo chroni pliki przed nieuprawnionym dostępem. Dzięki wykorzystaniu Storj,
        Chill Cloud umożliwia użytkownikom przechowywanie i udostępnianie swoich danych w sposób
        niezawodny i elastyczny, bez konieczności polegania na tradycyjnych centralnych serwerach.
      </p>

      <button>Pobierz</button>
    </div>

  </div>
  <div class="image">
    <img [src]="background_cloud" alt="Background image wich presents cloud technology.">
  </div>

</main>
<router-outlet></router-outlet>
