main{
  display: flex;
  position: relative;
  height: 100vh;
  justify-content: center;
  padding: 0 45px;

  .text{
    margin-top: -9vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 4;
    max-width: 630px;
    font-family: "Montserrat Alternates", sans-serif;

    div{
      padding: 24px 24px;
      border-radius: 48px;

      h1{
        font-size: 72px;
        background: -webkit-linear-gradient(rgb(75, 203, 236), rgb(67, 135, 236));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      p{
        margin-top: 17px;
        font-size: 18px;
        color: rgb(108, 108, 108);
        line-height: 35px;
      }

      button{
        margin-top: 20px;
        padding: 9px 24px;
        background: -webkit-linear-gradient(rgb(75, 203, 236), rgb(67, 135, 236));
        color: #fff;
        border: none;
        border-radius: 9px;
        font-family: "Montserrat Alternates", sans-serif;
        font-size: 17px;
        letter-spacing: 2px;

        &:hover{
          cursor: pointer;
        }
      }
    }

  }

  .image{

    width: 50%;
    min-width: 305px;

    img{
      position: absolute;
      right: 0;
      width: 100vw;
      height: 100vh;
      object-fit: cover;
      mix-blend-mode: multiply;
    }

  }

  padding-right: 50px;
}

@media (max-width: 1600px)
{
  main{
    flex-direction: column;
    padding: 0;
    justify-content: normal;
    padding-top: 13vh;
    box-sizing: border-box;

    .text{
      width: 100%;
      max-width: 100%;
      margin-top: 0;

      div{
        padding: 0 96px;
      }
    }

    .image{

      width: 100%;
      position: relative;
      min-height: 868px;

      img{
        height: 868px;
        min-width: 925px;
        top: 0;
        width: auto;
      }
    }
  }
}

@media (max-width: 1000px)
{
    main{
      .text div{
        padding: 0 40px;

        h1{
          font-size: 50px;
        }
      }

      .image, .image img{
        height: 495px;
        min-height: 495px;
      }

      .image{
        margin-top: 55px;
      }
    }
}

@media (max-width: 600px)
{
    main{
      .text div{
        padding: 0 48px;

        p{
          font-size: 17px;
        }
      }

      .image, .image img{
        height: 235px;
        min-height: 235px;
      }

      .image img{
        min-width: 715px;
      }
    }
}
