$footer-height: 65px;

main{
  display: flex;
  position: relative;
  height: calc(100vh - $footer-height);
  justify-content: center;
  padding: 0 45px;

  .text{
    margin-top: -9vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 4;
    max-width: 630px;
    font-family: "Montserrat Alternates", sans-serif;

    div{
      padding: 24px 24px;
      border-radius: 48px;

      h1{
        font-size: 72px;
        background: -webkit-linear-gradient(rgb(75, 203, 236), rgb(67, 135, 236));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      p{
        margin-top: 17px;
        font-size: 18px;
        color: rgb(108, 108, 108);
        line-height: 35px;
      }

      button{
        margin-top: 20px;
        padding: 9px 24px;
        background: -webkit-linear-gradient(rgb(75, 203, 236), rgb(67, 135, 236));
        color: #fff;
        border: none;
        border-radius: 9px;
        font-family: "Montserrat Alternates", sans-serif;
        font-size: 17px;
        letter-spacing: 2px;

        &:hover{
          cursor: pointer;
        }
      }
    }

  }

  .image{

    width: 50%;
    min-width: 305px;

    img{
      position: absolute;
      right: 0;
      width: 100vw;
      height: 100vh;
      object-fit: cover;
      mix-blend-mode: multiply;
    }

  }

  padding-right: 50px;
}

footer{
  font-family: "Montserrat Alternates", sans-serif;
  height: $footer-height;
  background-color: rgb(67, 135, 236);
  text-align: center;
  color: whitesmoke;
  font-size: 18px;
  line-height: $footer-height;
  letter-spacing: 2px;
}

.download{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #e7e7e759;

  .loader {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    animation: spin 2s linear infinite;
    margin: auto;
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media (max-width: 1600px)
{
  main{
    flex-direction: column;
    padding: 0;
    justify-content: normal;
    padding-top: 13vh;
    box-sizing: border-box;

    .text{
      width: 100%;
      max-width: 100%;
      margin-top: 0;

      div{
        padding: 0 96px;
      }
    }

    .image{

      width: 100%;
      position: relative;
      min-height: 868px;

      img{
        height: 868px;
        min-width: 925px;
        top: 0;
        width: auto;
      }
    }
  }
}

@media (max-width: 1000px)
{
    main{
      .text div{
        padding: 0 40px;

        h1{
          font-size: 50px;
        }
      }

      .image, .image img{
        height: 495px;
        min-height: 495px;
      }

      .image{
        margin-top: 55px;
      }
    }
}

@media (max-width: 600px)
{
    main{
      .text div{
        padding: 0 48px;

        p{
          font-size: 17px;
        }
      }

      .image, .image img{
        height: 235px;
        min-height: 235px;
      }

      .image img{
        min-width: 715px;
      }
    }
}
